<!DOCTYPE html>
<html>

   <head>
      <title>Who Am I?</title>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Who am I?</h2>
        <script>
          fetch("/api/whoami")
          .then(response => response.json())
          .then((response) => {
            document.getElementById("ipaddr").innerHTML += `<b>${response.ipaddress}</b>`
            document.getElementById("acceptedlangs").innerHTML += `<b>${response.language}</b>`
            document.getElementById("user-agent").innerHTML += `<b>${response.software}</b>`
          }).catch(error => console.warn(error))
        </script>
        <p id="ipaddr">IP Address: </p>
        <p id="acceptedlangs">Accepted Languages: </p>
        <p id="user-agent">Browser and OS: </p>
   </body>


</html>
